#
# Ignore all OpenBD bak file and work directories
#
WEB-INF/bluedragon/bluedragon.xml.bak.*
WEB-INF/bluedragon/work/**


#
# Ignore all Tomcat working and log directories
#
server/tomcat/logs/**
server/tomcat/work/**


#
# Ignore WAR deployment files
#
deploy/*.war
working/**


#
# Ignore combined/minified files
#
resources/css/all.css
resources/js/all.js

*.pyc